/* how home page main content start */
.content_main_image {
    background: url('/homepage_image/los-angeles-traffic-city-night-wallpaper.jpg') no-repeat center /cover;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
}

.content_search_box {
    margin-top: -67px;
    display: block;
    border: 2px solid white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 12px;
    height: 134px;
    box-shadow: 0 0 10px 7px rgba(196, 192, 192, 0.5);
}

.search_up {
    display: flex;
    float: top;
    width: 90%;
    height: 50%;
    margin: auto;
    justify-content: space-between;
}

.search_categories {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16;
    /* color: #d96c70; */
    height: 30px;
    margin-top: 25px;
    /* border-bottom: 5px solid #d8232a; */
    border-bottom: 5px solid white;
    margin-right: 5%;
}

.search_categories:hover {
    transition: all .2s ease !important;
    color: #d8232a !important;
    font-family: 'Open Sans' !important;
    font-weight: bold;
    border-bottom: 5px solid #d8232a !important;
}

.search_down {
    display: block;
    height: 40%;
    overflow: hidden;
    float: top;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    border-radius: 60px;
    border: 2px solid #c5c5c5;
}

.location {
    display: flex;
    float: left;
    width: 37%;
    /* background-color: aqua; */
    height: 100%;
    border-right: 2px solid #c5c5c5;
    /* padding-left: 10% */
}

.location img {
    margin-left: 10%;
    width: auto;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#id12 {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: #ebebeb; */
    padding-left: 7%;
    font-family: "Open Sans";
    font-size: 16px;
    border: 0px;
    /* font-weight: bold; */
}

.flat_type {
    display: flex;
    float: left;
    width: 25%;
    height: 100%;
    /* background-color: pink; */
    border-right: 2px solid #c5c5c5;
}

.flat_type img {
    margin-left: 10%;
    width: auto;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#id13 {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: #ebebeb; */
    padding-left: 7%;
    font-family: "Open Sans";
    font-size: 16px;
    border: 0px;
    /* font-weight: bold; */
}

.budget {
    display: flex;
    float: left;
    width: 18%;
    height: 100%;
    /* background-color: maroon; */
    /* border-right: 2px solid #c5c5c5; */
}

.budget img {
    margin-left: 10%;
    width: auto;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#id14 {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: #ebebeb; */
    padding-left: 7%;
    font-family: "Open Sans";
    font-size: 16px;
    border: 0px;
    /* font-weight: bold; */
}

.search {
    display: flex;
    float: left;
    width: 19%;
    height: 100%;
    /* background-color: orange; */
}

.search_box {
    display: flex;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    margin-left: 10%;
    width: 100%;
    height: 85%;
    background-color: #d8232a;
    border-radius: 40px;
    padding-left: 25%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    /* justify-content: center; */
}

.search_box img {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.main_properties {
    margin-left: 7%;
    margin-right: 7%;
}

.firstline {
    color: black;
    font-size: 25px;
    margin-left: 1%;
    margin-top: 50px;
    padding-left: 10px;
    font-family: Roboto-Regular, sans-serif;
}

.selected_card {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.selected_flat {
    float: left;
    width: 32%;
    border: 1px solid rgb(224, 202, 202);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.selected_flat:hover{
    box-shadow: 5px 5px 10px rgb(219, 208, 208);
}

.selected_flat_up {
    display: flex;
    width: 100%;
    height: 200px;
    float: top;
}

.selected_flat_up img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selected_flat_down {
    width: 100%;
    float: top;
    height: 30%;
    text-align: center;
}

.selected_price {
    margin-top: 10px;
    font-family: Roboto-Regular, sans-serif;
    font-weight: 700;
    color: #d8232a;
}

.selected_house {
    margin-top: 2px;
    font-weight: 700;
    font-family: Roboto-Regular, sans-serif;
}

.selected_location {
    margin-top: 10px;
    padding-bottom: 25px;
    color: #605d5d;
    font-family: Roboto-Regular, sans-serif;
}

.properties {
    /* align-items: center; */
    display: flex;
    justify-content: space-between;

}

.card {
    /* float: left; */
    width: 340px;
    border: 1px solid rgb(224, 202, 202);
    border-radius: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    overflow: hidden;
    margin: 20px;
}

.card:hover{
    box-shadow: 5px 5px 10px rgb(219, 208, 208);
}

.cont {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    /* margin-left: 2%; */
}

.cont1 {
    background-color: #d8232a;
    display: flex;
    float: left;
    width: 25%;
    height: 100%;
}

.product_image img {
    width: 295px;
    height: 180px;
    object-fit: cover;
}

.line1 {
    /* padding: 5px; */
    margin-left: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    /* text-align: center;
    font-weight: bold; */
    margin-bottom: 0px;
}

.card_content {
    font-family: 'Noto Sans', sans-serif;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(147, 133, 133);

}

.view_flat_button {
    margin-top: 10px;
    /* padding: 15px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: red;
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
    border-radius: 50px;
}

.services_block.product_image img {
    width: 305px;
    /* height: 250px; */
    object-fit: cover;
}

.add {
    width: 97%;
    height: 250px;
    margin-left: 1.5%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aqua;
    overflow: hidden;
}

.add_left {
    width: 70%;
    height: 100%;
    background-color: blue;
    float: left;
}

.add_right {
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    /* background-color: cyan; */
}

.add_right img {
    /* width: 100%;/ */
    display: flex;
    float: right;
    height: 100%;
    object-fit: cover;
}

.city1 {
    display: inline-block;
    width: 21%;
    height: 100px;
    font-family: 'Open Sans';
    overflow: hidden;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 10px;
    /* border: 1px solid black; */
}

.city1 img {
    display: flex;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin-right: 25px;
}

.city1_text {
    padding-top: 20px;
    padding-left: 50%;
    font-size: 16px;
    font-weight: 500;
}

.cit1_text_lower {
    padding-top: 6px;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
}